<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create form</title>
</head>
<body>
<h1>Update user</h1>
<br/> <br/>
<form action="#" th:method="POST" th:action="@{/admin/user/update}" th:object="${user}">
  <label for="id">Id: </label>
  <input readonly type="number" th:field="*{id}" id="id" placeholder="id"/>
  <br/> <br/>
  <label for="username">Enter username: </label>
  <input type="text" th:field="*{username}" id="username"/>
  <br/> <br/>
  <label for="surname">Enter surname: </label>
  <input type="text" th:field="*{surname}" id="surname"/>
  <br/> <br/>
  <label for="email">Enter email: </label>
  <input type="text" th:field="*{email}" id="email"/>
  <br/> <br/>
  <label for="password">Enter password: </label>
  <input type="password" th:field="*{password}" id="password"/>
  <br/> <br/>
  <label for="updatedRoles">Update one or more roles: </label>
  <select multiple id="updatedRoles" name="updatedRoles">
    <option th:each="role : ${roles}" th:value="${role}"
            th:text="${role}">role
    </option>
  </select>
  <input type="submit" value="Update"/>
</form>
</body>
</html>